input {
    width: 30%;
  }
  .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }